{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Class Notes</title>
    <style>
      #meetingForm {
        display: none; /* Initially hide the meeting form */
      }
      .toggle-icon {
        cursor: pointer; /* Style for toggle icon */
      }
    </style>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script
      src="https://kit.fontawesome.com/1796d285ac.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <img class="nav__logo" src="{% static 'images/cilogo2.png' %}" alt="" />
      <h1>Bootcamp Meeting Notes</h1>
    </nav>
    <hr />
    {% if next_meeting %}
    <h2 class="banner__next-meeting">
      Next Scheduled Meeting: {{ next_meeting.name }} - {{ next_meeting.time }}
    </h2>
    {% endif %}
    <div class="forms__container">
      <div class="meeting__container">
        <div class="meeting__add-meeting">
          <button class="toggle-icon" onclick="toggleMeetingForm()">
            <i class="plus-icon fas fa-plus-square"></i>
          </button>
          <p>Add a Meeting to your Schedule</p>
        </div>

        <div id="meetingForm">
          <form method="post">
            {% csrf_token %} {{ meeting_form.as_p }}
            <button type="submit" name="meeting_submit">Add Meeting</button>
          </form>
        </div>

        <form method="post">
          {% csrf_token %} {{ note_form.as_p }}
          <button type="submit" name="note_submit">Add Note</button>
        </form>
      </div>

      <h2>Last 5 Notes</h2>
      <ul>
        {% for note in last_notes %}
        <li>{{ note.title }} - {{ note.created_at|date:"Y-m-d H:i" }}</li>
        {% endfor %}
      </ul>
    </div>

    <script>
      function toggleMeetingForm() {
        var form = document.getElementById("meetingForm");
        form.style.display = form.style.display === "none" ? "block" : "none";
      }
    </script>
  </body>
</html>
